In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.preprocessing import OrdinalEncoder

In [2]:
full_df = pd.read_csv('Cleaned_Data/player_combined_fifa.csv')
full_df

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,season
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,1415
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,16+3,1415
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,14+3,1415
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,17+3,1415
4,4,167495,M. Neuer,GK,90,90,63500000.0,300000.0,28,1986-03-27,...,40+3,40+3,36+3,36+3,38+3,38+3,38+3,36+3,87+3,1415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2,2122
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2,2122
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2,2122
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2,2122
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2,2122

In [3]:
df = full_df[full_df['player_positions'] != 'GK']
df

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,season
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,1415
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,16+3,1415
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,14+3,1415
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,17+3,1415
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,77+3,77+3,76+3,70+3,63+3,63+3,63+3,70+3,14+3,1415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2,2122
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2,2122
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2,2122
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2,2122
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2,2122

In [4]:
df[df['sofifa_id'] == 158023]

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,season
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,1415
16155,0,158023,L. Messi,"RW, CF",94,95,111000000.0,550000.0,28,1987-06-24,...,57+3,57+3,62+3,57+3,44+3,44+3,44+3,57+3,19+3,1516
31779,1,158023,L. Messi,RW,93,93,89000000.0,575000.0,29,1987-06-24,...,59+4,59+4,62+4,57+4,45+4,45+4,45+4,57+4,19+4,1617
49375,1,158023,L. Messi,RW,93,93,105000000.0,575000.0,30,1987-06-24,...,59+4,59+4,62+4,57+4,45+4,45+4,45+4,57+4,19+4,1718
67329,1,158023,L. Messi,"CF, RW, ST",94,94,110500000.0,575000.0,31,1987-06-24,...,61+7,61+7,63+7,59+7,48+7,48+7,48+7,59+7,19+7,1819
85413,0,158023,L. Messi,"RW, CF, ST",94,94,95500000.0,560000.0,32,1987-06-24,...,66+6,66+6,68+6,63+6,53+6,53+6,53+6,63+6,19+6,1920
103896,0,158023,L. Messi,"RW, ST, CF",93,93,103500000.0,560000.0,33,1987-06-24,...,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3,2021
122840,0,158023,L. Messi,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,...,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3,2122

In [5]:
df.columns

Index(['Unnamed: 0', 'sofifa_id', 'short_name', 'player_positions', 'overall',
       'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm',
       'weight_kg', 'club_team_id', 'league_name', 'league_level',
       'club_position', 'nation_team_id', 'nation_position',
       'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'work_rate', 'body_type', 'player_tags',
       'player_traits', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'season'],
      dtype='object')

In [6]:
df[df['sofifa_id'] == 158023][['short_name','mentality_composure','season']]

       short_name  mentality_composure  season
0        L. Messi                  NaN    1415
16155    L. Messi                  NaN    1516
31779    L. Messi                 94.0    1617
49375    L. Messi                 96.0    1718
67329    L. Messi                 96.0    1819
85413    L. Messi                 96.0    1920
103896   L. Messi                 96.0    2021
122840   L. Messi                 96.0    2122

In [7]:
df['mentality_composure'] = df.groupby('sofifa_id')['mentality_composure'].apply(lambda x: x.bfill())

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
df[df['sofifa_id'] == 158023][['short_name','mentality_composure','season']]

       short_name  mentality_composure  season
0        L. Messi                 94.0    1415
16155    L. Messi                 94.0    1516
31779    L. Messi                 94.0    1617
49375    L. Messi                 96.0    1718
67329    L. Messi                 96.0    1819
85413    L. Messi                 96.0    1920
103896   L. Messi                 96.0    2021
122840   L. Messi                 96.0    2122

In [9]:
df[['Unnamed: 0', 'sofifa_id', 'short_name', 'player_positions', 'overall',
       'potential', 'value_eur', 'wage_eur', 'age', 'dob', 'height_cm',
       'weight_kg', 'club_team_id', 'league_name', 'league_level',
       'club_position', 'nation_team_id', 'nation_position',
       'nation_jersey_number', 'preferred_foot', 'weak_foot', 'skill_moves',
       'international_reputation', 'work_rate', 'body_type', 'player_tags',
       'player_traits', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'season']]

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk,season
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15+3,1415
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,16+3,1415
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,14+3,1415
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,17+3,1415
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,77+3,77+3,76+3,70+3,63+3,63+3,63+3,70+3,14+3,1415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2,2122
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2,2122
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2,2122
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2,2122
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2,2122

In [10]:
df[['work_rate', 'body_type', 'player_tags', 'player_traits']]

,work_rate,body_type,player_tags,player_traits
0,Medium/Low,Normal (170-),"#Speedster, #Dribbler, #FK Specialist, #Acroba...","Finesse Shot, Speed Dribbler (AI), One Club Pl..."
1,High/Low,Normal (185+),"#Speedster, #Dribbler, #Distance Shooter, #Acr...","Power Free-Kick, Flair, Long Shot Taker (AI), ..."
2,High/Low,Normal (170-185),"#Speedster, #Dribbler, #Distance Shooter, #Acr...","Diver, Injury Prone, Avoids Using Weaker Foot,..."
3,Medium/Low,Normal (185+),"#Poacher, #Aerial Threat, #Distance Shooter, #...","Power Free-Kick, Leadership, Flair, Long Shot ..."
5,High/Medium,Normal (170-),"#Dribbler, #Playmaker","Finesse Shot, Playmaker (AI), Technical Dribbl..."
...,...,...,...,...
142074,Medium/Medium,Lean (170-185),NaN,NaN
142075,Medium/Medium,Lean (170-185),NaN,NaN
142076,Medium/Medium,Lean (170-185),NaN,NaN
142077,Medium/Medium,Lean (170-185),NaN,NaN
142078,Medium/Medium,Lean (170-),NaN,NaN

In [11]:
df.player_traits.str.replace(' \(AI\)', '', regex=True)

0         Finesse Shot, Speed Dribbler, One Club Player,...
1         Power Free-Kick, Flair, Long Shot Taker, Speed...
2         Diver, Injury Prone, Avoids Using Weaker Foot,...
3         Power Free-Kick, Leadership, Flair, Long Shot ...
5               Finesse Shot, Playmaker, Technical Dribbler
                                ...
142074                                                  NaN
142075                                                  NaN
142076                                                  NaN
142077                                                  NaN
142078                                                  NaN
Name: player_traits, Length: 126288, dtype: object

In [12]:
l = df.player_traits.str.replace(' \(AI\)', '', regex=True).dropna()
traits_ls = list(set([item.strip() for sublist in l for item in sublist.split(",")]))

l = df.player_tags.str.replace('#', '').dropna()
tag_ls = list(set([item.strip() for sublist in l for item in sublist.split(",")]))


df['player_traits'].fillna('Null',inplace=True)
for trait in traits_ls:
    df.loc[df['player_traits'].str.contains(trait), trait] = 1
    df[trait].fillna(0,inplace=True)

df['player_tags'].fillna('Null',inplace=True)
for tag in tag_ls:
    df.loc[df['player_tags'].str.contains(tag), tag] = 1
    df[tag].fillna(0,inplace=True)
    
df

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,Complete Defender,Poacher,FK Specialist,Engine,Dribbler,Strength,Acrobat,Aerial Threat,Complete Midfielder,Tackling
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
eval_ls = ['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk']

for pos in eval_ls:
    df[pos] = df[pos].apply(lambda x: eval(x))
df[eval_ls]

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,92,92,92,95,93,93,93,95,95,95,...,65,65,65,65,57,48,48,48,57,18
1,92,92,92,92,92,92,92,92,92,92,...,66,66,66,66,60,55,55,55,60,19
2,87,87,87,90,90,90,90,90,90,90,...,67,67,67,67,58,49,49,49,58,17
3,90,90,90,87,89,89,89,87,89,89,...,68,68,68,64,59,58,58,58,59,20
5,80,80,80,89,85,85,85,89,89,89,...,80,80,80,79,73,66,66,66,73,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,46,46,46,46,45,45,45,46,48,48,...,48,48,48,50,50,48,48,48,50,17
142075,47,47,47,47,46,46,46,47,49,49,...,48,48,48,51,50,46,46,46,50,16
142076,47,47,47,46,46,46,46,46,49,49,...,48,48,48,49,49,47,47,47,49,14
142077,49,49,49,47,47,47,47,47,47,47,...,31,31,31,35,34,28,28,28,34,17
142078,47,47,47,47,47,47,47,47,49,49,...,46,46,46,47,47,43,43,43,47,18

In [14]:
df[['work_rate', 'body_type','preferred_foot','weak_foot']]

            work_rate         body_type preferred_foot  weak_foot
0          Medium/Low     Normal (170-)           Left          3
1            High/Low     Normal (185+)          Right          4
2            High/Low  Normal (170-185)           Left          2
3          Medium/Low     Normal (185+)          Right          4
5         High/Medium     Normal (170-)          Right          4
...               ...               ...            ...        ...
142074  Medium/Medium    Lean (170-185)          Right          3
142075  Medium/Medium    Lean (170-185)          Right          3
142076  Medium/Medium    Lean (170-185)          Right          3
142077  Medium/Medium    Lean (170-185)          Right          3
142078  Medium/Medium       Lean (170-)          Right          3

[126288 rows x 4 columns]

In [15]:
df[['att_workrate','def_workrate']] = df.work_rate.str.split("/",expand=True)

enc = OrdinalEncoder(categories=[['Low','Medium','High']])
df['att_workrate'] = enc.fit_transform(df[['att_workrate']])
df['def_workrate'] = enc.transform(df[['def_workrate']])
df

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- def_workrate
Feature names seen at fit time, yet now missing:
- att_workrate

  warnings.warn(message, FutureWarning)
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,FK Specialist,Engine,Dribbler,Strength,Acrobat,Aerial Threat,Complete Midfielder,Tackling,att_workrate,def_workrate
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [16]:
df.body_type = df.body_type.str.split().str.get(0)
df = pd.concat([df, pd.get_dummies(df.body_type,prefix='body')], axis=1)
df

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,Acrobat,Aerial Threat,Complete Midfielder,Tackling,att_workrate,def_workrate,body_Lean,body_Normal,body_Stocky,body_Unique
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,1.0,0.0,0.0,0.0,1.0,0.0,0,1,0,0
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,1.0,0.0,0.0,0.0,2.0,0.0,0,1,0,0
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,1.0,0.0,0.0,0.0,2.0,0.0,0,1,0,0
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,1.0,1.0,0.0,0.0,1.0,0.0,0,1,0,0
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,0.0,0.0,0.0,0.0,2.0,1.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0,0
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0,0
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0,0
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0,0
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,0.0,0.0,0.0,0.0,1.0,1.0,1,0,0,0

In [17]:
df.loc[df['preferred_foot'] == 'Right', 'right_foot'] = 5
df.loc[df['preferred_foot'] == 'Left', 'left_foot'] = 5
df.loc[df['right_foot'].isna(), 'right_foot'] = df.weak_foot
df.loc[df['left_foot'].isna(), 'left_foot'] = df.weak_foot
df

,Unnamed: 0,sofifa_id,short_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,...,Complete Midfielder,Tackling,att_workrate,def_workrate,body_Lean,body_Normal,body_Stocky,body_Unique,right_foot,left_foot
0,0,158023,L. Messi,CF,93,95,100500000.0,550000.0,27,1987-06-24,...,0.0,0.0,1.0,0.0,0,1,0,0,3.0,5.0
1,1,20801,Cristiano Ronaldo,"LW, LM",92,92,79000000.0,375000.0,29,1985-02-05,...,0.0,0.0,2.0,0.0,0,1,0,0,5.0,4.0
2,2,9014,A. Robben,"RM, LM, RW",90,90,54500000.0,275000.0,30,1984-01-23,...,0.0,0.0,2.0,0.0,0,1,0,0,2.0,5.0
3,3,41236,Z. IbrahimoviÄ‡,ST,90,90,52500000.0,275000.0,32,1981-10-03,...,0.0,0.0,1.0,0.0,0,1,0,0,5.0,4.0
5,5,41,Iniesta,"CM, LW",89,89,36000000.0,250000.0,30,1984-05-11,...,0.0,0.0,2.0,1.0,0,1,0,0,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142074,19234,261962,Song Defu,CDM,47,52,70000.0,1000.0,22,1999-01-02,...,0.0,0.0,1.0,1.0,1,0,0,0,5.0,3.0
142075,19235,262040,C. Porter,CM,47,59,110000.0,500.0,19,2002-03-18,...,0.0,0.0,1.0,1.0,1,0,0,0,5.0,3.0
142076,19236,262760,N. Logue,CM,47,55,100000.0,500.0,21,2000-02-07,...,0.0,0.0,1.0,1.0,1,0,0,0,5.0,3.0
142077,19237,262820,L. Rudden,ST,47,60,110000.0,500.0,19,2002-04-23,...,0.0,0.0,1.0,1.0,1,0,0,0,5.0,3.0
142078,19238,264540,E. Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,...,0.0,0.0,1.0,1.0,1,0,0,0,5.0,3.0

In [18]:
df.to_csv('Cleaned_Data/player_categorical_encoded.csv')